# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Vector Database
# -----------------------------
chroma_db/
vector_db/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db